/* CSS Document */

*{margin:0px;}
/** {margin:0px;padding:0px}*/
/* mac hide \*/



html,body{height:100%;width:100%;overflow:visible;}
/* end hide */
body 
{
	height:100%;width:100%;
	background-position:0px 0px;
	background-color:#dae6f4;
	font-size: 12px;
	font-family: tahoma;
	margin:0;
	padding:0;

	/*background: #0487af; /* for non-css3 browsers */
}

div#global_header 
{
	padding-left: 16px;
	padding-right: 16px;
}


div#global_header 
{
	background: #0487af;
	/*background-image:url(sms/images/globeheader.png) right top no-repeat;*/
/*	border-bottom: 1px solid #4D4B48;*/
/*	background-position: center top;*/
	height: 96px;
}

div#global_header .content {
	background-position: center top;
	position: relative;
	width:940px;
	height: 96px;
	margin: 0px auto;
	z-index: 402;
}


div#global_header div.logo {
	float: left;
	padding-top: 15px;
	margin-right: 40px;
	width: 176px;
	height: 63px;
}


div#global_header_yellow 
{
	background-color: #F2BB0A;
/*	border-bottom: 1px solid #4D4B48;*/
	background-position: center top;
	height: 20px;
	margin: 0px auto;
	z-index: 402;
}
div#globe_image {
	position: absolute;
	right: 2px;
	top: 0px;
	width:700px;
	height:96px;
	z-index: 401;
}

div#footer
{
	height:27px;
	background-position:bottom;
	background-color: #0487af;
	margin:0 auto;
	margin-bottom:0px;
	text-align: center;
	font-size:11px;
	text-decoration:none;
	color: #FFFFFF;
	clear: both; overflow: hidden;
}

div#footer a {color: #ffffff; text-decoration:none;}
div#footer a:hover{color: #cccccc; text-decoration:none;}

div#userControls 
{
	background: #eff0f1;
	background-position:left;
	position: relative;
	height: 27px;
	margin: 0px auto;
	z-index: 402;
	font-weight: bold;
}

div#mainBody {
	background-position:left;
	position: relative;
	width:100%;
	
/*	height:450px;  you can remove this or edit this for the auto-scale GRID*/
	margin: 0px auto;
	z-index: 402;
}


#loading-mask 
{
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height: 100%;
  z-index:20000;
  background-color: white;
}

#loading 
{
  position: absolute;
  left:     50%;
  top:      50%;
  padding:  2px;
  z-index:  20001;
  height:   auto;
  margin:   -35px 0 0 -30px;
}

#loading .loading-indicator 
{
  background: url(../images/extanim32.gif) no-repeat;
  color:      #555;
  font:       bold 13px tahoma,arial,helvetica;
  padding:    8px 42px;
  margin:     0;
  text-align: center;
  height:     auto;
}



